.peliculas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
body{
    background: rgb(12, 12, 12);
    margin: 0 !important;
    padding: 0 !important;
}
.pager{
    font-weight: bold;
}
.pageNext{
display: inline
}
.pageBefore{
display: inline;
font-weight: bold;
}